ion-content ion-infinite-scroll ion-item ion-refresher {
  --ion-background-color: #fafafa;
}
ion-item {
  --padding-right: 0px !important;
}
.container {
  display: contents;
  .item-content {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    .itemlabel {
      font-size: 12px;
      color: #383a3e;
      font-weight: 600;
    }
    .provider-container {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .provider-name {
        color: #383a3e;
        font-size: 10px;
        font-weight: 200;
      }
      .provider-time {
        color: #383a3e;
        font-size: 10px;
        font-weight: 200;
      }
    }
  }
  .share-content {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.to-top-btn {
  width: 50px;
  height: 50px;
  --border-radius: 50%;
  position: fixed;
  z-index: 12;
  bottom: 40px;
  right: 40px;
}
