<ion-header>
  <ion-toolbar>
    <ion-title>
      My News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #pageTop>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Updating..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item
      *ngFor="let news of slicedNewsArray;let i=index"
      (click)="openBlank(news.url)"
    >
      <div class="container">
        <div class="item-content">
          <ion-label class="ion-text-wrap itemlabel"
            >{{news.heading}}</ion-label
          >
          <div class="provider-container">
            <ion-label class="ion-text-wrap provider-name">Admin</ion-label>
            <ion-label class="ion-text-wrap provider-time"
              >3 Minutes ago</ion-label
            >
          </div>
        </div>
        <div class="share-content" (click)="shareBtn(news,$event)">
          <ion-icon name="md-share" color="primary"></ion-icon>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadData($event)"
    *ngIf="!isLoadedAllItems"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more news..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-button
  class="to-top-btn"
  size="small"
  *ngIf="viewGoToTopBtn"
  (click)="scrollToTop()"
>
  <ion-icon ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon>
</ion-button>
